/*主要放头部 侧边栏  底部样式*/


/*1200 1080  1280 */


/*顶部导航开始*/

.top-nav {
	height: 35px;
	line-height: 34px;
	/*border-bottom: 1px solid #ddd;*/
}


/*搜索样式开始*/

.search_box {
	/*盒子宽度根据内容撑宽  可以设置宽度高*/
	display: inline-block;
	padding-left: 190px;
}

.search {
	border: 2px solid #ff2d52;
	/*内联元素会有3像素差距   给父级设置字体大小为0*/
	font-size: 0;
}

.search-input {
	border: 0;
	height: 36px;
	width: 430px;
	background: url(../img/icon-search.png) no-repeat 10px center;
}

.search-btn {
	/*a标签是行内元素  不能给宽高*/
	display: inline-block;
	height: 41px;
	width: 80px;
	background: #FF2D52;
	color: #FFFFFF;
	line-height: 36px;
	text-align: center;
	font-size: 16px;
}


/*主导航样式开始*/

.main-nav {
	height: 40px;
	line-height: 38px;
	margin-top: 30px;
}

.classify-all {
	position: relative;
	width: 200px;
}

.classify-text {
	background: #FF2D52;
}

.classify-all:hover .classify-text {
	background: #EC193E;
}

.classify-all .icon-fenlei {
	vertical-align: -4px;
	font-size: 18px;
}

.classify-all.static .classify-lists {
	display: block;
}

.classify-lists li {
	background: #FF2D52;
	height: 51px;
	line-height: 50px;
	border-bottom: 1px solid #EC193E;
	padding: 0 20px 0 30px;
	cursor: pointer;
}

.classify-lists li:hover {
	background: #FF2D52;
}

.classify-all.icon-jiantou {
	font-size: 7px;
}

.classify-lists {
	/*根据已经定位的  最近的父级来定位*/
	width: 100%;
	position: absolute;
	display: none;
}


/*:hover鼠标移入读取的样式  必须有上下级关系*/

.classify-all:hover .classify-lists {
	display: block;
}

.main-nav-list li {
	float: left;
	padding: 0 20px;
}

.main-nav-list li a {
	color: #fff;
}

.main-nav-list li a:hover {
	background: #EC193E;
}


/*二级分类*/

.classify-two {
	width: 722px;
	height: 306px;
	border: 1px solid #ff7011;
	background: #FFFFFF;
	position: absolute;
	top: 0;
	left: 200px;
	display: none;
	color: #333333;
	padding: 10px;
	
}

.classify-lists li:hover .classify-two {
	display: block;
	z-index: 14;
}

.classify-two-lists {
	width: 50%;
	padding: 0px 20px;
	/*background: red;*/
	float: left;
}
.classify-two-lists .title {
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}

.classify-two-lists .lists {
	line-height: 24px;
}

.classify-two-lists .lists a:hover {
	color: #FF2D52;
}

.button {
	width: 78px;
	height: 26px;
	background: #FF2D52;
	color: #FFFFFF;
	border-radius: 5px;
	margin-top: 10px;
}


/*底部样式开始*/

.footer {
	border-top: 1px solid #FF2D52;
}

.safe-server {
	margin: 40px 0;
}

.safe-server li {
	float: left;
	width: 20%;
	padding-left: 50px;
}

.safe-server-icon {
	width: 60px;
	height: 60px;
	font-size: 36px;
	color: #FF2D52;
	line-height: 60px;
	text-align: center;
	background: url(../img/circle.png);
}

.safe-server-cont {
	padding: 10px 0;
	padding-left: 70px;
}

.server-details {
	height: 120px;
}

.server-details-list li {
	padding-right: 117px;
	float: left;
}

.contact {
	width: 245px;
	height: 100%;
	border-left: 1px solid #dbdbdb;
}

.footer-bottom {
	height: 60px;
	line-height: 60px;
	background: #343434;
}

.footer-bottom img {
	vertical-align: middle;
}


/*侧边栏样式开始*/

.aside {
	position: fixed;
	width: 36px;
	background: #535353;
	top: 0;
	bottom: 0;
	right: 0;
	/*margin-top: 40px;*/
}

.aside-panel {
	height: 100%;
	width: 100%;
	background: #535353;
	position: relative;
	z-index: 10;
}

.aside-bar {
	position: absolute;
	top: 40%;
	bottom: 0;
	width: 100%;
	color: white;
}

.asidebar-bar-cart p {
	padding: 0 7px;
}

.asidebar-bar-cart .number {
	width: 16px;
	height: 16px;
	display: inline-block;
	border-radius: 50%;
	background: #FF2D52;
	line-height: 16px;
}

.asidebar-bar-cart:hover .number {
	background: #FFFFFF;
	color: #FF2D52;
}

.aside-bar-lists li {
	position: relative;
	text-align: center;
	padding: 8px 0;
}

.aside-bar-lists li .icon-user {
	font-size: 20px;
}

.aside-bar-lists li:hover {
	background: #FF2D52;
}

.aside-bar-lists li:hover .tooltip-bar {
	display: block;
	right: 35px;
}

.tooltip-bar {
	background: #EC193E;
	min-width: 70px;
	color: #FFFFFF;
	position: absolute;
	right: 45px;
	top: 0;
	min-height: 39px;
	line-height: 39px;
	display: none;
	/*transition: all 0.3s;*/
	/*
	 * 动画过渡  动画过渡的时间 以及延缓时间
	 * transition:运动的元素  运动的时间  运动的模式  延缓时间
	 * */
}

.aside {
	z-index: 13;
}

.aside-slide {
	position: absolute;
	height: 100%;
	width: 300px;
	top: 0;
	background: #f5f5f5;
	right: -264px;
}


/*购物车滑出内容样式*/

.aside-slide-content {
	height: 100%;
	width: 100%;
}

.aside-slide-car {
	position: relative;
}

.aside-slide-car-title {
	height: 40px;
	background: #F5F5F5;
	line-height: 40px;
	padding-left: 14px;
	border: 1px solid #E2E2E2;
}

.aside-slide-car-content {
	padding: 10px;
	height: 84px;
	border: 1px solid #E2E2E2;
}

.aside-slide-car-content img {
	width: 62px;
	height: 62px;
}

.aside-slide-car-text {
	display: inline-block;
	height: 20px;
	width: 212px;
	padding: 5px;
}
.aside-slide-car-text span,.aside-slide-car-text a{
	margin-top: 10px;
}
.aside-slide-car-text a{
	margin-left: 124px;
	display: inline-block;
}
.aside-slide-car-bottom {
	border-top: 1px solid #E2E2E2;
	height: 100px;
	width: 300px;
	padding: 25px 7px;
	text-align: center;
	position: absolute;
	bottom: 0;
}

.aside-slide-car-bottom .btn {
	display: inline-block;
	width: 262px;
	line-height: 35px;
	height: 35px;
	color: white;
	margin-top: 10px;
}

.aside-slide-server {
	background: aliceblue;
}

.aside-slide-server-top {
	height: 116px;
	background: #e8e8e8;
	padding: 48px 0 23px 25px;
}

.aside-slide-server-center {
	height: 365px;
	padding-top: 25px;
	padding-left: 25px;
	border-bottom: 1px solid #E2E2E2;
}

.aside-slide-server-center span {
	font-size: 30px;
	vertical-align: -4px;
}

.aside-slide-server-bottom {
	height: 122px;
	padding: 20px;
}

.line {
	margin: 12px 0;
}

.line:last-child {
	margin-bottom: 20px;
}

.special {
	width: 222px;
	height: 30px;
	font-size: 14px;
}

.special span {
	font-size: 35px;
}

.phone {
	text-align: center;
	font-size: 36px;
}

.aside-bar-lists li:hover .tooltip-bar {
	display: block;
	right: 35px;
}

.aside-bar-lists li:hover .tooltip-bar-code {
	display: block;
	right: 35px;
}

.tooltip-bar-code {
	background: #EC193E;
	min-width: 172px;
	color: #FFFFFF;
	position: absolute;
	right: 45px;
	top: 0;
	display: none;
	bottom: 0;
	top: auto;
}

.tooltip-bar-code .code {
	font-size: 145px;
}

.slide-bar-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #535353;
}


/*侧边栏样式结束*/