
/*我的购物车*/
.cart-title{
border-bottom: 1px solid #E2E2E2;
margin-bottom: 10px;
}
.cart-title a{
	width: 76px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
.cart-title a:hover{
	border-bottom: 2px solid #FF2D52;
}

/*购物车内容样式开始*/
.two-cart{
	border: 1px solid #E2E2E2;
}
.two-left{
	padding: 10px;
}
.two-left span{
	padding-left: 180px;
}
.cart-lists li{
	float: left;
	padding: 10px 57px;
}

.shopping{
	border: 1px solid #E2E2E2;
	height: 120px;
}
.shopping,.two-cart{
	background: #FFF9F5;
	border-left: none;
	border-right: none;
}
.shopping input{
	vertical-align: 40px;
}
.shopping1 img{
	width: 82px;
	height: 82px;
}
.shopping-text{
	width: 192px;
	height: 35px;
	vertical-align: 46px;
}
/*尺码*/
.size{
	position: relative;
	display: inline-block;
	border: 1px dashed red;
	width: 139px;
	height: 70px;
	padding-left: 10px;
	padding-top: 10px;
	vertical-align: 40px;
	margin-left: 40px;
}
.size a{
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 20px;
	border: 1px solid #E2E2E2;
}
.size a:hover{
	color: white;
	border: 1px solid red;
	background: #FF2D52;
}
/*单价*/
.unit{
	vertical-align: 40px;
	margin-left: 183px;
}
.unit a{
	border: 1px solid #E2E2E2;
    width: 35px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    margin-left: 10px;
}
.unit a:hover{
	border: 1px solid red;
	color: #FF2D52;
}
.cart-number{
	vertical-align: 30px;
	border: 1px solid #E2E2E2;
	/*width: 99px;*/
	height: 22px;
	margin-left: 66px;
}
.cart-sub,.cart-plus{
	border: 1px solid #E2E2E2;
	width: 20px;
	height: 20px;
	vertical-align: 40px;
	background: #FFFFFF;
	border: none;
}
.cart-number input{
	border: none;
	height: 20px;
	width: 50px;
	border-left: 1px solid #E2E2E2;
	border-right: 1px solid #E2E2E2;
}
/*金额*/
.money{
	vertical-align: 70px;
	margin-left: 53px;
}
/*操作*/
.operation{
	vertical-align: 53px;
	margin-left: 94px;
}
.last-active,.cart-bottom{
	border-bottom: 1px solid #E2E2E2;
}

/*全选 删除所选商品*/
.cart-bottom{
	margin-bottom: 15px;
}
.right-all{
	text-align: right;
}
.cart-bottom-right{
	position: relative;
}
.cart-bottom-right a{
    width: 72px;
    margin-right: 10px;
    height: 35px;
    vertical-align: 8px;
    text-align: center;
    line-height: 35px;
}
.cart-bottom-right a:hover{
	background: #FF2D52;
	color: #FFFFFF;
}
/*猜您喜欢*/
.guess-recommend{
	border-top: 1px solid #E2E2E2;
	border-bottom: 1px solid #E2E2E2;
	margin-bottom: 15px;
}
.guess-recommend-lists li{
	width: 16.66%;
	float: left;
}
.guess-recommend-lists li .like-text{
	width: 172px;
	height: 33px;
}
